//Shape for a button
.button {
    //Size and shape
    display: block;
    width: 100%;
    border-radius: $border-radius-small;
    padding: 1em 0;

    //Typography
    font-size: 0.9em;
    font-weight: $font-weight-black;
    text-align: center;
    text-decoration: none;
}

.button--primary {
    background: $colour-bright-blue;
    color: white;

    box-shadow: 0 0.5em 2em -0.5em $colour-bright-blue;

    &:hover {
        background: $colour-bright-purple;
    }
}

.button--light {
    background: none;
    color: $colour-desaturated-blue;

    &:hover {
        color: $colour-dark-blue;
    }
}